/* Background gradient animated */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(-45deg, #0d3541, #183e4b, #283940, #30383f);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

/* Login box ثابت */
.login-box {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.2);
  text-align: center;
  width: 400px;
}

h2 {
  margin-bottom: 10px;
  color: #21324f;
  font-weight: 700; 
  font-size: 18px;
}

p {
  color: #555;
  margin-bottom: 25px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  transition: all 0.3s ease;
}

input:focus {
  border-color: #1e3c72;
  box-shadow: 0 0 10px rgba(30, 60, 114, 0.5);
  outline: none;
}

.btn {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  background: linear-gradient(90deg, #144047, #437182);
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(30, 60, 114, 0.4);
}

.error {
  color: red;
  font-size: 12px;
}
